/target
**/*.ll
**/*.o
**/*.a
**/*.bc
**/a.out
**/*.wat
**/*.wasm
**/*.cwasm
build/
!wanco/tests/**/*
!demo/**/*.wat
!demo/**/*.wasm
!examples/**/*.wat
!examples/**/*.wasm
!benchmark/llama2-c/*.wasm

llama2*
binary-trees*
nbody*

# snapshots
checkpoint.pb
checkpoint.pb.json

# benchmark
restore-time.txt
chkpt-time.txt

# clangd
compile_commands.json
.cache

# rust
**/target/

# VSCode
.vscode/

# clion
**/.idea/
**/cmake-build-*/

# CRIU
checkpoint/
