/target
**/*.ll
**/*.o
**/*.a
**/*.bc
**/a.out
**/*.wat
**/*.wasm
**/*.cwasm
build/
**/*.bin
**/*.aot
**/*.exe
!wanco/tests/**/*
!demo/**/*.wat
!demo/**/*.wasm
!examples/**/*.wat
!examples/**/*.wasm

# snapshots
checkpoint.pb
checkpoint.pb.json

# benchmark
restore-time.txt
chkpt-time.txt
result.csv
result.json
result.jpg

# clangd
compile_commands.json
.cache

# rust
**/target/

# VSCode
.vscode/

# clion
**/.idea/
**/cmake-build-*/

# CRIU
checkpoint/

# Python
venv/
__pycache__/
