/target
**/*.ll
**/*.o
**/*.a
**/a.out
**/*.wat
**/*.wasm
**/*.cwasm
build/
!wanco/tests/**/*
!demo/**/*.wat
!demo/**/*.wasm
!examples/**/*.wat
!examples/**/*.wasm

!benchmark/**/*.wasm
llama2*
!llama2-c-x86-64
binary-trees*
nbody*

*.bc
*.cc
*.json
*.c
!benchmark/sqlite_example/main.c

checkpoint.json
checkpoint.pb
checkpoint.pb.json

# clangd
compile_commands.json
.cache

**/target/

# clion?
**/.idea/
**/cmake-build-debug/

# CRIU
checkpoint/
